<h1>Авторизация</h1><br>
<div class="row">
  <div class="col-md-8">
    <form [formGroup]="loginForm" (ngSubmit)="signin()" novalidate>

      <div class="input-group row">
        <label class="col-md-3" for="login" [ngClass]="{'text-danger': loginForm.get('login').invalid && submit}">Логин</label>
        <div class="col-md-4">

          <input formControlName="login" type="text" name="login" class="form-control" placeholder="Введите текст" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-4" *ngIf="loginForm.get('login').hasError('required') && submit">
          <small class="text-danger">
              Это обязательное поле
          </small>
        </div>
        <div class="col-md-4" *ngIf="(loginForm.get('login').hasError('maxlength')||loginForm.get('login').hasError('minlength')) && submit">
          <small class="text-danger">
              Длинна текста должна быть 3-200 символов
          </small>
        </div>
      </div>
      <br>

      <div class="input-group row">
        <label class="col-md-3" for="password" [ngClass]="{'text-danger': loginForm.get('password').invalid && submit }">Пароль</label>
        <div class="col-md-4">

          <input formControlName="password" type="text" name="password" class="form-control" placeholder="Введите текст" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-4" *ngIf="loginForm.get('password').hasError('required') && submit">
          <small class="text-danger">
              Это обязательное поле
          </small>
        </div>
        <div class="col-md-4" *ngIf="(loginForm.get('password').hasError('maxlength')||loginForm.get('password').hasError('minlength')) && submit">
          <small class="text-danger">
              Длинна текста должна быть 3-200 символов
          </small>
        </div>
      </div>
      <br>


      <button type="submit" class="btn btn-primary">Войти</button>
    </form>
  </div>
</div>