<h1>Добавление задачи</h1><br>
<div class="row">
  <div class="col-md-8">
    <form [formGroup]="taskForm" (ngSubmit)="addTask()" novalidate>

      <div class="input-group row">
        <label class="col-md-3" for="username" [ngClass]="{'text-danger': taskForm.get('username').invalid && submit}">Имя пользователя</label>        {{taskForm.submitted}}
        <div class="col-md-4">

          <input formControlName="username" type="text" name="username" class="form-control" placeholder="Введите текст" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-4" *ngIf="taskForm.get('username').hasError('required') && submit">
          <small class="text-danger">
              Это обязательное поле
          </small>
        </div>
        <div class="col-md-4" *ngIf="(taskForm.get('username').hasError('maxlength')||taskForm.get('username').hasError('minlength')) && submit">
          <small class="text-danger">
              Длинна текста должна быть 6-200 символов
          </small>
        </div>
      </div>
      <br>

      <div class="input-group row">
        <label class="col-md-3" for="email" [ngClass]="{'text-danger': taskForm.get('email').invalid && submit }">e-mail</label>
        <div class="col-md-4">

          <input formControlName="email" type="email" [email]="true" name="email" class="form-control" placeholder="Введите текст"
            aria-describedby="basic-addon1">
        </div>
        <div class="col-md-4" *ngIf="taskForm.get('email').hasError('required') && submit">
          <small class="text-danger">
              Это обязательное поле
          </small>
        </div>
        <div class="col-md-4" *ngIf="(taskForm.get('email').hasError('maxlength')||taskForm.get('email').hasError('minlength')) && submit">
          <small class="text-danger">
              Длинна текста должна быть 6-200 символов
          </small>
        </div>
      </div>
      <br>

      <div class="input-group row">
        <label class="col-md-3" for="text" [ngClass]="{'text-danger': taskForm.get('text').invalid && submit}">Текст</label>
        <div class="col-md-4">

          <input formControlName="text" type="text" name="text" class="form-control" placeholder="Введите текст" aria-describedby="basic-addon1">
        </div>
        <div class="col-md-4" *ngIf="taskForm.get('text').hasError('required') && submit">
          <small class="text-danger">
              Это обязательное поле
          </small>
        </div>
        <div class="col-md-4" *ngIf="(taskForm.get('text').hasError('maxlength')||taskForm.get('text').hasError('minlength')) && submit">
          <small class="text-danger">
              Длинна текста должна быть 6-200 символов
          </small>
        </div>
      </div>
      <br>

      <div class="input-group row">
        <label class="col-md-3" for="image">Картинка</label>
        <div class="col-md-4">

          <input type="file" (change)="handleInputChange($event)" class="form-control-file" id="exampleFormControlFile1">
          <br>
          <img *ngIf="resizedImage" [src]="resizedImageTrusted" alt="">
        </div>


        <div class="col-md-4" *ngIf="!resizedImage && submit">
          <small class="text-danger">
              Это обязательное поле
          </small>
        </div>
      </div>
      <br>

      <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
  </div>
</div>